.blur-out-expand {
	-webkit-animation: blur-out-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: blur-out-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

@-webkit-keyframes blur-out-expand {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }

    100% {
        letter-spacing: 1em;
        -webkit-filter: blur(5px) opacity(0%);
        filter: blur(5px) opacity(0%);
    }
}

@keyframes blur-out-expand {
    0% {
        -webkit-filter: blur(0.01);
        filter: blur(0.01);
    }

    100% {
        letter-spacing: 1em;
        -webkit-filter: blur(5px) opacity(0%);
        filter: blur(5px) opacity(0%);
    }
}